<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h3>Nice Form</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <div class="panel panel-default">
                <form>
                    <fieldset>                        
                        <div class="form-group">                            
                            <nice-input
                                [id]="niceInputData.id"
                                [label]="niceInputData.label"
                                [type]="niceInputData.type" 
                                [value]="niceInputData.value" 
                                [classes]="niceInputData.classes"
                                [required]="niceInputData.required"
                                (notify)="OninputChange($event)"
                                [disabled]="niceInputData.disabled"
                                [readonly]="niceInputData.readonly"
                            ></nice-input>                            
                        </div>
                        <div class="form-group">
                            <nice-textarea
                                [id]="niceTextareaData.id"
                                [label]="niceTextareaData.label"
                                [value]="niceTextareaData.value" 
                                [classes]="niceTextareaData.classes"
                                [required]="niceTextareaData.required"
                                [disabled]="niceTextareaData.disabled"
                                [readonly]="niceTextareaData.readonly"
                                (notify)="OnTextareaChange($event)"
                            ></nice-textarea>
                        </div>
                        <div class="form-group">
                            <nice-checkbox
                                class="mr20"
                                [id]="niceCheckboxData1.id"
                                [label]="niceCheckboxData1.label"
                                [checked]="niceCheckboxData1.checked" 
                                [required]="niceCheckboxData1.required"
                                [disabled]="niceCheckboxData1.disabled"
                                [readonly]="niceCheckboxData1.readonly"
                            ></nice-checkbox>
                            <nice-checkbox
                                [id]="niceCheckboxData2.id"
                                [label]="niceCheckboxData2.label"
                                [checked]="niceCheckboxData2.checked" 
                                [required]="niceCheckboxData2.required"
                                [disabled]="niceCheckboxData2.disabled"
                                [readonly]="niceCheckboxData2.readonly"
                            ></nice-checkbox>
                        </div>
                        <div class="form-group">
                            <nice-radiobutton
                                class="mr20"
                                [id]="niceRadiobuttonData1.id"
                                [label]="niceRadiobuttonData1.label"
                                [name]="niceRadiobuttonData1.name"
                                [checked]="niceRadiobuttonData1.checked" 
                                [required]="niceRadiobuttonData1.required"
                                [disabled]="niceRadiobuttonData1.disabled"
                                [readonly]="niceRadiobuttonData1.readonly"
                            >                                
                            </nice-radiobutton>
                            <nice-radiobutton
                                [id]="niceRadiobuttonData2.id"
                                [label]="niceRadiobuttonData2.label"
                                [name]="niceRadiobuttonData2.name"
                                [checked]="niceRadiobuttonData2.checked" 
                                [required]="niceRadiobuttonData2.required"
                                [disabled]="niceRadiobuttonData2.disabled"
                                [readonly]="niceRadiobuttonData2.readonly"
                            >                                
                            </nice-radiobutton>
                        </div>
                    </fieldset>                    
                </form>
            </div>
        </div>
    </div>
</div>
