/* Nice textarea styles */

$font-color: orangered;
$font-family: "Segoe UI", sans-serif;
$font-size: 20px;
$bg-color: #EEE;
$bg-hover-color: #CCC;
$bg-focus-color: deepskyblue;
$disabled-color: #b0b0b0;
$highlight-height: 1px;
$highlight-focus-height: 2px;

.nice-field-wrapper {
    position: relative;
}
.nice-field-container {
    padding-top: $font-size;
    font-family: $font-family;
}

textarea.nice-textarea {
    border: none;
    box-shadow: none;
    font-size: $font-size;
    min-height: 2 * $font-size;
    border-radius: 0;
    width: 100%;
    max-width: 100%;
    color: $font-color; 
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow:hidden;
    border-bottom: 2px solid transparent;
    box-sizing: content-box;

    &:hover, &:focus {
        border: none;
        box-shadow: none;    
        border-radius: 0;
        outline: none;
        border-bottom: 2px solid transparent;
    }

    &:hover + .nice-span-container {
        height: $highlight-height;
        background-color: $bg-hover-color;
        .nice-span-ripple {
            height: $highlight-focus-height;   
        }
        span.nice-span {
            height: $highlight-height;
            background-color: $font-color;
        }
    }

    &:focus + .nice-span-container {        
        height: $highlight-focus-height;
        background-color: transparent;        
        .nice-span-ripple {
            height: $highlight-focus-height;
            background-color: $bg-focus-color;
            visibility: visible;
            transform: scaleX(1);
            transition: transform 150ms linear,background-color .3s cubic-bezier(.55,0,.55,.2);
        }
        span.nice-span {
            height: $highlight-focus-height;
            background-color: $font-color;
        }
    }

    &:disabled, &[readonly] {
        background-color: #fafafa;
        opacity: 0.75;
        
        ~ .nice-label-wrapper label {
            color: $disabled-color;
        }
    }
}

.nice-span-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;    
    height: $highlight-height;
    background-color: $bg-color;

    .nice-span-ripple {
        width: 100%;
        height: $highlight-height;
        background-color: $bg-color;
        position: absolute;
        left: 0;
        bottom: 0;
        transform-origin: 50%;
        transform: scaleX(.2);
        visibility: hidden;
        transition: background-color .3s cubic-bezier(.55,0,.55,.2);
    }

    span.nice-span {
        height: $highlight-height;
        font-size: $font-size;    
        display: inline-block;
        background-color: $font-color;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}


textarea.nice-textarea:focus ~ .nice-label-wrapper label {
    transform: translateY(-$font-size) scale(.75) perspective(5px) translateZ(0.001px);
    -ms-transform: translateY(-$font-size) scale(.75);
    width: 133.33333%;
    color: $font-color;
}

.nice-label-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: content-box;
    width: 100%;
    height: calc(100% - #{$font-size});
    overflow: hidden;
    pointer-events: none;
    padding-top: $font-size;

    label {
        position: absolute;
        left: 0;
        font-size: $font-size;
        margin: 0;
        pointer-events: none;
        color: #555;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transform: perspective(100px);
        -ms-transform: none;
        transform-origin: 0 0;
        transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);    

        &.nice-label-can-float {
            transform: translateY(-$font-size) scale(.75) perspective(5px) translateZ(0.001px);
            -ms-transform: translateY(-$font-size) scale(.75);
            width: 133.33333%;
        }
    }
}